<p-toast></p-toast>

<p-card [header]="'Contagem por Função'">
      <p-datepicker
        class="w-full"
        [formControl]="data"
        [appendTo]="'body'"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [showIcon]="true"
      ></p-datepicker>
    <small *ngIf="isCampoDataInvalido()" class="text-red-600">Campo obrigatório!</small>
    <p-button icon="pi pi-search" label="Consultar" [style]="{'width': '120px'}" (onClick)="contagemPorFuncao()" />

  <div class="p-fluid p-formgrid grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-12">
      <p-table [value]="contagem" [tableStyle]="{ 'min-width': '50rem' }"  [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10]">
        <ng-template  #header>
          <tr>
            <th>Função</th>
            <th>Quantidade</th>
          </tr>
        </ng-template>
        <ng-template #body let-product>
          <tr>
            <td>{{ product.funcao }}</td>
            <td>{{ product.quantidade }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </div>

</p-card>

