<p-toast></p-toast>

<p-card [header]="'Time mais comum'">
  <p-datepicker
    class="w-full"
    [formControl]="data"
    [appendTo]="'body'"
    selectionMode="range"
    dateFormat="dd/mm/yy"
    [showIcon]="true"
  ></p-datepicker>
  <p-button icon="pi pi-search" label="Consultar" [style]="{'width': '120px'}" (onClick)="timeMaisComum()" />
  <div *ngIf="time">
    Resultado:
    <p-table [value]="time.integrantes" [tableStyle]="{ 'min-width': '50rem' }"  [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10]">
      <ng-template  #header>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Função</th>
          <th>Franquia</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.nome }}</td>
          <td>{{ product.funcao.descricao }}</td>
          <td>{{ product.funcao.franquia.descricao }}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</p-card>

